*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

#clock{
    
    font-size: 200px;
    padding-top: 170px;
}
#date{
    font-size: 100px;
    transform: translateY(-50px);
}
@media screen and (max-width:475px) {
    body{
        overflow: hidden;
    }
    #clock{
        font-size: 60px;
        padding-top: 300px;
    }
    #date{

        font-size: 40px;
        transform: translateY(-20px);
    }
}